openai
torch
transformers
langchain
gpt4all
chromadb
llama-cpp-python
urllib3
pdfminer.six
python-dotenv
unstructured
extract-msg
tabulate
pandoc
pypandoc
tqdm
xformers
openai
PyPDF2
tiktoken
faiss-cpu
torchvision
protobuf==3.20.0
